.main {
  width: 80%;
  /* background-color: pink; */
  margin: 1rem auto;
  padding: 1rem;
}

.card {
  width: 400px;
  /* background-color: purple; */
  margin: auto;
}

.cardImg {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
  padding: 10px;
  margin: 10px;
  background-color: pink;
  border-radius: 10px;
}
